/* Imports */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');

/* Universal Styling */

html, body {
    height: 100%;
}

:root {
    font-size: 10px;
}

body {
    display: flex;
    flex-direction: row;
    padding: 0;
    margin: 0;
    background-color: var(--backgroundColor);
    font-family: 'Montserrat';
    font-size: 10px;
}

#userInterface {
    height: 100%;
    width: 600px; /* stays px */
    background-color: rgba(37, 83, 137, 0.1);
    border-top-right-radius: 75px; /* stays px */
    border-bottom-right-radius: 75px; /* stays px */
    padding-left: 5rem; /* 50px */
    display: flex;
    flex-direction: column;
}

#SGVgraphics {
    background-size: contain;
    height: 100%;
    width: 100%;
    background-position: right;
    background-repeat: no-repeat;
    margin-left: auto;
}

.NorthernStarLogo {
    height: 50px; /* stays px */
}

#loginHeader {
    margin-top: 10rem; /* 100px */
    margin-bottom: 5rem; /* 50px */
}

.headerDivider {
    width: 75%;
    border-bottom: var(--Primary) solid 1px;
    margin: 3rem 0;
}

.headerTitle {
    color: var(--Primary);
    font-size: 2.5rem; /* 25px */
    font-weight: 400;
    margin-bottom: 1rem; /* 10px */
}

.headerSubText {
    color: var(--Primary);
    font-size: 1rem; /* 10px */
    font-weight: 300;
    width: 80%;
    line-height: 2rem; /* 20px */
}

#loginForm {
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: start;
    width: 80%;
}

.inputWrapper {
    display: flex;
    flex-direction: column;
    gap: 0.5rem; /* 5px */
    width: 100%;
    margin-bottom: 2rem; /* 20px */
}

.inputHeader {
    font-size: 1rem; /* 10px */
    font-weight: 500;
    color: var(--Primary);
}

input {
    width: 100%;
    height: 30px; /* stays px */
    background: none;
    border: 1px var(--Primary) solid;
    border-radius: 5px; /* stays px */
}

.btnFilled {
    background-color: var(--BrandBlue);
    width: 100%;
    height: 30px; /* stays px */
    border-radius: 5px; /* stays px */
    display: flex;
    justify-content: center;
    align-items: center;
    color: #ffffff;
    font-size: 1.5rem; /* 15px */
    cursor: pointer;
}

#forgotPassword {
    font-size: 1rem; /* 10px */
    color: #969696;
    display: flex;
    justify-content: end;
    align-items: center;
    width: 100%;
    cursor: pointer;
}

#servicesDividerWrapper {
    margin: 4rem 0; /* 40px */
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.servicesDivider {
    width: 45%;
    border-bottom: var(--Primary) solid 1px;
}

#signUpLink {
    font-size: 1rem; /* 10px */
    margin: 1rem 0; /* 10px */
}

#orText {
    color: var(--Primary);
    font-size: 1.5rem; /* 15px */
    width: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

#servicesWrapper {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 80%;
}

.serviceIcon {
    width: 25px; /* stays px */
    height: 25px; /* stays px */
    cursor: pointer;
}

#copyrightText {
    color: var(--Primary);
    font-size: 1rem; /* 10px */
    font-weight: 300;
    width: 80%;
    margin-top: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1.5rem; /* 15px */
}

/* Light Theme */

@media (prefers-color-scheme: light) {
    :root {
        --backgroundColor: #ffffff;
        --Primary: #141414;
        --BrandBlue: #23447B;
    }

    .NorthernStarLogo {
        content: url(../resouces/NorthernStarLogo\(LightDesign\).png);
    }

    #SGVgraphics {
        background-image: url(../resouces/SGV\(Light\).svg);
    }

    #signUpLink {
        color: var(--BrandBlue);
    }

    #githubIcon {
        content: url(../resouces/GithubIconDark.svg);
    }
}

/* Dark Theme */

@media (prefers-color-scheme: dark) {
    :root {
        --backgroundColor: #141414;
        --Primary: #ffffff;
        --BrandBlue: #23447B;
    }

    #SGVgraphics {
        background-image: url(../resouces/SGV\(Dark\).svg);
    }

    .NorthernStarLogo {
        content: url(../resouces/NorthernStarLogo\(DarkDesign\).png);
    }

    #signUpLink {
        color: var(--Primary);
    }

    #githubIcon {
        content: url(../resouces/GithubIconWhite.svg);
    }
}

/* Responsive */

@media (max-width: 1400px) {
    #SGVgraphics {
        display: none;
    }

    #userInterface {
        background: none;
    }

    body {
        justify-content: center;
    }
}

@media (max-width: 500px) {
    :root {
        font-size: 8px;
    }
    #userInterface {
        padding: 0;
        margin: 1.5rem; /* 15px */
        justify-content: center;
        align-items: center;
    }

    #loginHeader {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    body {
        justify-content: center;
        margin: 0;
        padding: 0;
    }

    .headerSubText {
        text-align: center;
    }
}